.App {
  text-align: center;
}

body {
  background-color: #ebebeb;
  margin: 0;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: auto;
  padding: 0 25%;
  background-color: #23282f;
}

.header-a {
  text-decoration: none;
  color: #ebebeb;
  padding: 30px 30px;
  transition: 0.5s ease;
}

.header-a:hover {
  background-color: #61b5ff;
  color: #f7f7f7;
  transition: 0.5s ease;
}

.selected {
  background-color: #61b5ff;
  color: #f7f7f7;
}

/* Accueil */

.titre-accueil {
  width: 100%;
  height: auto;
  padding: 75px;
}

.recette-ctnr {
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-container {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

/* Accueil Search Bar */

.filter-ctnr {
  width: 80%;
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-ctnr {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Description Card Accueil */

.infos-card-ctnr {
  width: 100%;
  margin-top: 15px;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Page Infos */

.infos-global-ctnr {
  width: 90%;
  height: auto;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-des-ctnr {
  width: 50%;
  height: 50%;
  margin: auto;
}

.img-des-ctnr img {
  width: 50%;
  height: 50%;
  margin: 25px 0;
}

.img-des-ctnr h4 {
  margin-bottom: 50px;
}

.infos-recette-ctnr {
  width: 30%;
  margin: auto;
}

.infos-recette {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-recette {
  margin-top: 50px;
}

h4 {
  font-size: 1.2em;
}

/* Bouton infos recette */

.button-ctnr {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modifier-btn {
  margin: auto;
  margin: 0;
  transition: ease 0.5s;
  background-color: #ebebeb;
  color: #009e32;
  border: none;
}

.modifier-btn:hover {
  transform: scale(1.05);
  transition: ease 0.5s;
  background-color: #009e32;
  color: #ebebeb;
}

.supprimer-btn {
  transition: ease 0.5s;
  color: red;
  background-color: #ebebeb;
  border: none;
}

.supprimer-btn:hover {
  transform: scale(1.05);
  transition: ease 0.5s;
  color: #ebebeb;
  background-color: red;
}

/* Ajouter une recette */

.add-recipe-ctnr {
  width: 60%;
  margin: 100px auto;
  background-color: #f7f7f7;
}

.add-recipe-ctnr h2 {
  margin-bottom: 50px;
}

.add-recipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-des-ctnr {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.first-select-ctnr {
  width: 100%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quantite-etape-ctnr {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quantite-global-ctnr {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantite-ctnr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.add-recipe input {
  margin-bottom: 50px;
}

.add-recipe select {
  margin-bottom: 50px;
}

.ingredient-supp {
  margin: 0;
}

.quantite {
  display: flex;
  align-items: center;
}

.etape-global-ctnr {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.etape-ctnr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.etape {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.textarea1 {
  width: 290px;
  resize: none;
  border: none;
}

.textarea1:focus {
  outline: none;
  resize: none;
  border: 1px solid #61b5ff;
}

.ajouter-etape {
  transition: ease 0.5s;
  background-color: #ebebeb;
  color: #61b5ff;
  border: none;
}

.ajouter-etape:hover {
  transform: scale(1.05);
  transition: ease 0.5s;
  color: #ebebeb;
  background-color: #61b5ff;
}

/* Modifier recette */

.button-modif-ctnr {
  width: 40%;
  height: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.select-accueil {
  margin: 0;
  border: none;
  background-color: #f7f7f7;
}

.select-accueil:focus {
  border: 1px solid #61b5ff;
  outline: none;
  background-color: #f7f7f7;
}

.select {
  margin: 0;
  border: none;
}

.select:focus {
  border: 1px solid #61b5ff;
  outline: none;
}

.input-accueil {
  border: none;
  background-color: #f7f7f7;
}

.input-accueil:focus {
  outline: none;
  border: #61b5ff 1px solid;
  background-color: #f7f7f7;
}

.input {
  border: none;
}

.input:focus {
  outline: none;
  border: #61b5ff 1px solid;
}
