.App {
    text-align: center;
}

body {
    background-color: #ebebeb;
    margin: 0;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: auto;
    padding: 0 25%;
    background-color: #23282f;
}

.header-a {
    text-decoration: none;
    color: #ebebeb;
    padding: 30px 30px;
    transition: 0.5s ease;
}

.header-a:hover {
    background-color: #41b4b4;
    color: #23282f;
    transition: 0.5s ease;
}

.selected {
    background-color: #41b4b4;
    color: #23282f;
}

/* Accueil */

.titre-accueil {
    width: 100%;
    height: auto;
    padding: 75px;
}

.recette-ctnr {
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

/* Accueil Search Bar */

.filter-ctnr {
    width: 80%;
    margin: 70px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time-ctnr {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Bouton Card */

.delete-btn {
    transition: ease 0.5s;
}

.delete-btn:hover {
    transition: ease 0.5s;
    color: red;
}

/* Description Card Accueil */

.infos-card-ctnr {
    width: 100%;
    margin-top: 15px;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Page Infos */

.infos-global-ctnr {
    width: 90%;
    height: auto;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-des-ctnr {
    width: 50%;
    height: 50%;
    margin: auto;
}

.img-des-ctnr img {
    width: 50%;
    height: 50%;
    margin: 25px 0;
}

.infos-recette-ctnr {
    width: 30%;
    margin: auto;
}

.infos-recette {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients-recette {
    margin-top: 50px;
}

/* Bouton infos recette */
